* {
	margin: 0;
	padding: 0;
}

ul#menu-header-menu-links {
	list-style-type: none;
	margin-top: 10px;
	background-color: #999;
	padding: 10px;
}

ul#menu-header-menu-links li {
	display: inline-block;
	margin-left: 20px;
}

ul#menu-header-menu-links li a {
	text-decoration: none;
	font-size: 18px;
	color: white;
}

div.container-for-real-estates, h1.description-data, div.container-for-locations, div.container-for-types, div.container-for-real-estate {
	margin-left: 30px;
	margin-top: 20px;
} 

hr.line-break {
	margin-top: 10px;
	margin-bottom: 10px;
}

div#search-real-estates, div.container {
	margin-top: 30px;
	margin-left: 30px;
}

div#custom-form-container {
	margin-top: 50px;
	margin-left: 30px;
}

div#real-estate-update-container {
	margin-top: 20px;
}

button#update-real-estate {
	padding: 5px;
}